body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #f4f4f4;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-family: didot;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #333;
}

.imagenes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.imagenes img {
    width: 30%;
    border-radius: 8px;
}

footer{
    font-family: didot;
    background-color: rgb(228, 228, 226);
    color: rgb(159, 159, 158);
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

#Titulo{
    font-family: didot;
}

#p{
    text-align: center;
}